
    # Model Vertex AI
    VERTEX_MODEL_ID=gemini-2.5-flash-lite

    # ── URL Backend & Frontend ────────────────
    DJANGO_BACKEND_URL=http://localhost:8000
    FRONTEND_URL=http://localhost:4200

    # ── Security ───────────────────────────────
    AI_SERVICE_KEY=dev-ai-key-edututor-2024

    # ── GCP Config ─────────────────────────────
    GCP_PROJECT_ID=gia-su-ai-489717
    GCP_LOCATION=us-central1

    # ── Vertex AI Agent Builder (Search) ───────
    AGENT_BUILDER_LOCATION=global
    DATA_STORE_ID=kho-tri-thuc-tong-hop_1774869602375_gcs_store
    GOOGLE_APPLICATION_CREDENTIALS=credentials.json
